*{
    
     font-family: "Yanone Kaffeesatz", serif
}

body {
    background-image: url(../img/bg03.jpg);
  }
.onecolumn-content, .content-aside{
    display:flex;
    justify-content: center;
   /* flex-wrap: wrap;*/
    align-items: flex-start;
    padding: 45px 0 45px 0;
    background-image: url(../img/bg04.png);
    background-color:#f7f7f7;    
  }
  
  .onecolumn-box{
    width:100%;
    padding: 0px 0 0 25px; 
  }

  .onecolumn-content section {
      background: #fff;
      padding: 40px 30px 45px 30px;
      box-shadow: 2px 2px 2px 1px rgb(128 128 128 / 10%);   
  }


  h2 {
    font-size: 1.8em;
    color: #373f42;
    margin: 0 0 0.25em 0
  }
  
 h3{
    color: #96a9b5;
      font-size: 1.25em;
  }
  
p{
    margin: 0 0 2em 0;
    
  }

a{
    color: #ED391B;
}
 


.caja{
  background-color: #fff;
  width: 230px;
  padding: 20px;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px rgb(128 128 128 / 10%);    
}

.caja.unica {
  width: 480px;
}

.aside.tres {
  display:flex;
  flex-direction: column-reverse;
}

@media screen and (max-width: 700px){

.aside.dos {
  order: -1;
}

}