* {
    box-sizing: border-box;
    font-family: "Yanone Kaffeesatz", serif
}

body {
  background-image: url(../img/bg03.jpg);
}


img {
  padding: 10px;
  background-color: #fff;
  background-image: url(../img/bg04.png);
  
}

.section1  {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  background-image: url(../img/bg01.jpg);
  padding: 35px 0 35px 0;

}


.section1 p {
 
  font-size: 2em;
  line-height: 1.25em;
  padding-right: 1em;
  margin: 0 0 1em 0;
  color: #fff;
}

button {
   
  display: flex;
  justify-content: center;
  color: #fff;
  background-image: -webkit-linear-gradient(top, #ed391b, #ce1a00);
  text-decoration: none;
  font-size: 1.75em;
  height: 2em;
  line-height: 2.125em;
  font-weight: 300;
  padding: 0 45px;
  border-radius: 10px;

}


.section2  {
    display: flex;
    flex-flow: wrap;
    justify-content: center;  
    background-image: url(../img/bg02.jpg);
  }

  .section2-box {
    display: flex;
    flex-flow:wrap column;
    margin: 20px 20px 20px 0px;
   /* border: solid;*/
  
    
  } 

  .section2-box h2 {
    font-size: 1.25em;
    color: #fff;
  }

  .section2-box p {  
    color: grey;
  }
  .section2-box a {  
    color: #fff;
  }


  
.section3  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  background-color: #f7f7f7;
  background-image: url(../img/bg04.png);
 
}
.section3-box {
  
  /*  border: solid;*/
    background-color: #fff;
    margin: 25px 20px 25px 0;
    padding: 40px 30px 45px 30px;
}

.section3-box h2{
  font-size: 1.8em;
  color: #373f42;
  margin: 0 0 0.25em 0;
}

.section3-box h3{
    color: #96a9b5;
    font-size: 1.25em;
}

.onecolumn-content {
  border-top: solid 1px #fff;
  padding: 45px 0 45px 0;
  background-image: url(../img/bg04.png);
  background-color: #f7f7f7;  
  
}
.onecolumn-box{

  padding: 0px 0 0 25px;

}
.onecolumn-content section{
    background: #fff;
    padding: 40px 30px 45px 30px;
    box-shadow: 2px 2px 2px 1px rgb(128 128 128 / 10%);
    margin: 0px 180px 0px 180px;   
  
}

.onecolumn-content h3{
  color: #96a9b5;
    font-size: 1.25em;
}

.onecolumn-content p{
  margin: 0 0 2em 0;
  
}





