* {
    box-sizing: border-box;
    font-family: "Yanone Kaffeesatz", serif
}

body {
  background-image: url(../img/bg03.jpg);
}


.section-content .section1 img, .section-content .section2 img {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  background-image: url(../img/bg04.png);
  
}

.section1  {
  display: flex;
 /* flex-wrap: wrap-reverse;*/
  justify-content: center;
  background-image: url(../img/bg01.jpg);
}


.section1 p  {
  margin: 0 0 1em 0;
  padding-right: 1em;
  font-size: 2em;
  line-height: 1.25em;
  color: #fff;
}

.clickme {
   
  display: flex;
  justify-content: center;
  color: #fff;
  height: 2em;
  line-height: 2.125em;
  padding: 0 45px;
  background-image: -webkit-linear-gradient(top, #ed391b, #ce1a00);
  text-decoration: none;
  font-size: 1.75em;
  font-weight: 300;
  border-radius: 10px;
}


.section2  {
    display: flex;
   /* flex-flow: wrap;*/
    justify-content: center;  
    box-sizing: border-box;
   
  }

  .section2-box {
    display: flex;
    flex-flow:wrap column;
    margin: 20px 20px 20px 0px; 

  } 

  .section2-box h2 {
    font-size: 1.25em;
    color: #fff;
  }

  .section2-box p {  
    color: grey;
  }
  .section2-box a {  
    color: #fff;
  }


  
.section3  {
  display: flex;
/*  flex-wrap: wrap;*/
  justify-content: center; 
  background-color: #f7f7f7;
 
}
.section3-box {
  
    margin: 25px 20px 25px 0;
    padding: 40px 30px 45px 30px;
    width: 300px;
    height: 510px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgb(128 128 128 / 10%);
}
.section3-box img{
  
width: 100%;
}
.section3-box h2{
  margin: 0 0 0.25em 0;
  font-size: 1.8em;
  color: #373f42;
  
}

.section3-box h3{
    font-size: 1.25em;
    color: #96a9b5;    
}


/* Agregado a ultimo momento */
.flex-content1 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1px;
  background-image: url(../img/bg01.jpg); 
}

.flex-content2{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1px;
  background-image: url(../img/bg01.jpg);
}

.flex-content3{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1px;
  background-image: url(../img/bg02.jpg);
}
.flex-content4{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1px;
  background-color: #f7f7f7;
  background-image: url(../img/bg04.png);
}

.contenedor-seccion {
  
  width: 1000px;
 /* border: solid;*/
}

